#
# ApiTwf0Rpt.cfg
#
# API回報表單設定: 台灣期權/基底
#
###########################################################
$include: ApiBase.cfg

###########################################################
$RptTwf0NewFields = {
  $RptOrdKey
  $RptReqBase
  $RptReqFrom
  IvacNo
  SubacNo
  Symbol

# 若要使用 OmsRcSyn 則必須提供這些欄位給對方 f9oms,
# 否則對方送出的刪改查, 沒有這些欄位會被期交所斷線?!
  OrderSource
  InfoSource
}
