#
# f9utwApiTwsAll.cfg
#
# API下單表單設定: 台灣證券,條件單額外參數.
#
###########################################################
$include:forms/ApiTwsAll.cfg
$include:f9utwApiCondReq.cfg

REQ.TwsNew {
  $CondReqNew
}

RPT.TwsNew {
  $CondReqNew
}

RPT.TwsNew : abandon {
  $CondReqNew
}

RPT.TwsOrd : TwsNew {
  $CondReqOrd
}

